<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snake.mcf.sysmgr.mapper.uphold.UpholdDotaMapper">

    <select id="queryBuyDotaWithPage" parameterType="map" resultType="com.snake.mcf.sysmgr.repertory.entity.dto.RecordbuynewpropertyDTO">
        select a.RecordID,a.CollectDate,a.PropertyName,a.ExchangeType,a.BuyNum,a.Currency,a.BeforeCurrency,a.ClinetIP,
        b.GameID,b.NickName from [WHQJRecordDB].[dbo].[RecordBuyNewProperty] a
          left join [WHQJAccountsDB].[dbo].[AccountsInfo] b
          on a.UserID = b.UserID
          where 1 = 1
        <if test="gameid != null and gameid != ''">
            and b.GameID =  #{gameid,jdbcType=INTEGER}
        </if>

        <if test="collectdateStartStr != null and collectdateStartStr != ''">
            and a.CollectDate &gt;= #{collectdateStartStr,jdbcType=VARCHAR}
        </if>
        <if test="collectdateEndStr != null and collectdateEndStr != ''">
            and a.CollectDate &lt;= #{collectdateEndStr,jdbcType=VARCHAR}
        </if>

        <if test="merchant != null and merchant != ''">
            and b.merchant = #{merchant,jdbcType=VARCHAR}
        </if>

        order by a.CollectDate desc

    </select>

    <select id="queryUseDotaWithPage" parameterType="map" resultType="com.snake.mcf.sysmgr.repertory.entity.dto.RecordusepropertyDTO">
        select a.RecordID,a.UseDate,a.PropertyName,a.PropertyCount,a.UseResultsGold,a.LovelinessSend,a.LovelinessRcv,a.ClientIP,
        b.GameID,b.NickName from [WHQJRecordDB].[dbo].[RecordUseProperty] a
          left join [WHQJAccountsDB].[dbo].[AccountsInfo] b
          on a.SourceUserID = b.UserID where 1 = 1
        <if test="gameid != null and gameid != ''">
            and b.GameID =  #{gameid,jdbcType=INTEGER}
        </if>

        <if test="usedateStartStr != null and usedateStartStr != ''">
            and a.UseDate &gt;= #{usedateStartStr,jdbcType=VARCHAR}
        </if>
        <if test="usedateEndStr != null and usedateEndStr != ''">
            and a.UseDate &lt;= #{usedateEndStr,jdbcType=VARCHAR}
        </if>

        <if test="merchant != null and merchant != ''">
            and b.merchant = #{merchant,jdbcType=VARCHAR}
        </if>

          order by a.UseDate desc
    </select>

</mapper>