<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snake.mcf.sysmgr.mapper.uphold.UpholdGamemdMapper">


    <select id="loadDataBaseInfo" resultType="com.snake.mcf.sysmgr.repertory.entity.dto.ComboBoxDTO">
        select a.DBAddr as id , a.Information as text from [WHQJPlatformDB].[dbo].[DataBaseInfo] a
    </select>


</mapper>