@charset "UTF-8";

body .container-fluid{
	padding-right: 0px;
    padding-left: 0px;
    
}
.panel-heading {
	height: 32px;
}
.panel-heading .panel-title{
	font-size:13px;
	font-weight:bold;
}
.panel-body{
	width: 100%;
}
.easyui-fluid{
	width: 100%;
	
}
.easyui-fluid .panel-header{
	width: 100%;
	
}
/* .datagrid-toolbar{
    float:right;
}*/
.opt-btn-out{
	display:block;
	position: relative;
	width:100%;
}
.opt-btn-out .opt-btn-toolbar{
	display:block;
	position:absolute;
	right:0px;
	float:right;
} 
.opt-button-float{
	float:right;
	margin-right: 20px;
}


