<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snake.mcf.sysmgr.mapper.index.IndexMapper">

    <select id="queryGlobalStatData" parameterType="map" resultType="com.snake.mcf.sysmgr.repertory.entity.dto.group.GlobalGroup">

        select
        (SELECT COUNT(a.UserID) FROM [WHQJAccountsDB].[dbo].[AccountsInfo] a WHERE 1 = 1 and a.IsAndroid=0 <if test="merchant != null and merchant != ''"> and a.Merchant = #{merchant,jdbcType=VARCHAR} </if> ) as totalAccount,
        (SELECT COUNT(UserID) FROM [WHQJAccountsDB].[dbo].[AccountsInfo] a WHERE 1 = 1 and a.IsAndroid=0 and a.RegisterDate&gt;=#{todayStart,jdbcType=VARCHAR} AND a.RegisterDate&lt;=#{todayEnd,jdbcType=VARCHAR} <if test="merchant != null and merchant != ''"> and a.Merchant = #{merchant,jdbcType=VARCHAR} </if> ) as todayNews,
        (SELECT COUNT(UserID) FROM [WHQJAccountsDB].[dbo].[AccountsInfo] a WHERE 1 = 1 and a.IsAndroid=0 and a.RegisterDate&gt;=#{yesterdayStart,jdbcType=VARCHAR} AND a.RegisterDate&lt;=#{yesterdayEnd,jdbcType=VARCHAR} <if test="merchant != null and merchant != ''"> and a.Merchant = #{merchant,jdbcType=VARCHAR} </if> ) as yesterdayNews,
        (SELECT COUNT(UserID) FROM [WHQJAccountsDB].[dbo].[AccountsInfo] a WHERE 1 = 1 and a.IsAndroid=0 and a.LastLogonDate&gt;=#{todayStart,jdbcType=VARCHAR} AND a.LastLogonDate&lt;=#{todayEnd,jdbcType=VARCHAR} <if test="merchant != null and merchant != ''"> and a.Merchant = #{merchant,jdbcType=VARCHAR} </if> ) as todayActive,

        (SELECT cast(round(cast(ISNULL(SUM(a.Score),0) as float)/100,2) as numeric(20,2)) FROM [WHQJTreasureDB].[dbo].[GameScoreInfo] a left join [WHQJAccountsDB].[dbo].[AccountsInfo] b on a.UserID = b.UserID where 1 = 1 <if test="merchant != null and merchant != ''"> and b.Merchant = #{merchant,jdbcType=VARCHAR} </if> ) as totalScore,
        (SELECT cast(round(cast(ISNULL(SUM(a.InsureScore),0) as float)/100,2) as numeric(20,2)) FROM [WHQJTreasureDB].[dbo].[GameScoreInfo] a left join [WHQJAccountsDB].[dbo].[AccountsInfo] b on a.UserID = b.UserID where 1 = 1 <if test="merchant != null and merchant != ''"> and b.Merchant = #{merchant,jdbcType=VARCHAR} </if> ) as totalInsureScore,
        (SELECT cast(round(cast((ISNULL(SUM(a.Score),0) + ISNULL(SUM(a.InsureScore),0)) as float)/100,2) as numeric(20,2)) FROM [WHQJTreasureDB].[dbo].[GameScoreInfo] a left join [WHQJAccountsDB].[dbo].[AccountsInfo] b on a.UserID = b.UserID where 1 = 1 <if test="merchant != null and merchant != ''"> and b.Merchant = #{merchant,jdbcType=VARCHAR} </if> ) as totalAllScore,

        (SELECT cast(round(cast(ISNULL(SUM(Score),0) as float)/100,2) as numeric(20,2)) FROM [WHQJTreasureDB].[dbo].[OnLinePayOrder] a left join [WHQJAccountsDB].[dbo].[AccountsInfo] b on a.UserID = b.UserID WHERE 1 = 1 and a.OrderDate&gt;=#{todayStart,jdbcType=VARCHAR} AND a.OrderDate&lt;=#{todayEnd,jdbcType=VARCHAR} AND a.ScoreType=0 AND a.OrderStatus&gt;0 <if test="merchant != null and merchant != ''"> and b.Merchant = #{merchant,jdbcType=VARCHAR} </if>) as todayPayScore,
        (SELECT cast(round(cast(ISNULL(SUM(Amount),0) as float),2) as numeric(20,2)) FROM [WHQJTreasureDB].[dbo].[OnLinePayOrder] a left join [WHQJAccountsDB].[dbo].[AccountsInfo] b on a.UserID = b.UserID WHERE 1 = 1 and a.OrderDate&gt;=#{todayStart,jdbcType=VARCHAR} AND a.OrderDate&lt;=#{todayEnd,jdbcType=VARCHAR} AND a.ScoreType=0 AND a.OrderStatus&gt;0 <if test="merchant != null and merchant != ''"> and b.Merchant = #{merchant,jdbcType=VARCHAR} </if> ) as todayPayScoreAmount,

        (SELECT cast(round(cast(ISNULL(SUM(Amount),0) as float),2) as numeric(20,2)) FROM [WHQJTreasureDB].[dbo].[OnLinePayOrder] a left join [WHQJAccountsDB].[dbo].[AccountsInfo] b on a.UserID = b.UserID WHERE 1 = 1 and a.OrderStatus&gt;0 <if test="merchant != null and merchant != ''"> and b.Merchant = #{merchant,jdbcType=VARCHAR} </if> ) as totalAmount,
        (SELECT cast(round(cast(ISNULL(SUM(Amount),0) as float),2) as numeric(20,2)) FROM [WHQJTreasureDB].[dbo].[OnLinePayOrder] a left join [WHQJAccountsDB].[dbo].[AccountsInfo] b on a.UserID = b.UserID WHERE 1 = 1 and a.OrderDate&gt;=#{todayStart,jdbcType=VARCHAR} AND a.OrderDate&lt;=#{todayEnd,jdbcType=VARCHAR} AND a.OrderStatus&gt;0 <if test="merchant != null and merchant != ''"> and b.Merchant = #{merchant,jdbcType=VARCHAR} </if> ) as todayAmount,
        (SELECT cast(round(cast(ISNULL(SUM(Amount),0) as float),2) as numeric(20,2)) FROM [WHQJTreasureDB].[dbo].[OnLinePayOrder] a left join [WHQJAccountsDB].[dbo].[AccountsInfo] b on a.UserID = b.UserID WHERE 1 = 1 and a.OrderDate&gt;=#{yesterdayStart,jdbcType=VARCHAR} AND a.OrderDate&lt;=#{yesterdayEnd,jdbcType=VARCHAR} AND a.OrderStatus&gt;0 <if test="merchant != null and merchant != ''"> and b.Merchant = #{merchant,jdbcType=VARCHAR} </if> ) as yesterdayAmount,

        (select cast(round(cast(ISNULL(SUM(a.Revenue),0) as float)/100,2) as numeric(20,2)) from [WHQJTreasureDB].[dbo].[RecordDrawInfo] a left join [WHQJTreasureDB].[dbo].[RecordDrawScore] b on a.DrawID = b.DrawID left join [WHQJAccountsDB].[dbo].[AccountsInfo] c on c.UserID = b.UserID where 1 = 1 <if test="merchant != null and merchant != ''"> and c.Merchant = #{merchant,jdbcType=VARCHAR} </if> ) as totalRevenue,
        (select cast(round(cast(ISNULL(SUM(a.Revenue),0) as float)/100,2) as numeric(20,2)) from [WHQJTreasureDB].[dbo].[RecordDrawInfo] a left join [WHQJTreasureDB].[dbo].[RecordDrawScore] b on a.DrawID = b.DrawID left join [WHQJAccountsDB].[dbo].[AccountsInfo] c on c.UserID = b.UserID where 1 = 1 and a.StartTime&gt;=#{todayStart,jdbcType=VARCHAR} AND a.StartTime&lt;=#{todayEnd,jdbcType=VARCHAR} <if test="merchant != null and merchant != ''"> and c.Merchant = #{merchant,jdbcType=VARCHAR} </if> ) as todayRevenue,
        (select cast(round(cast(ISNULL(SUM(a.Revenue),0) as float)/100,2) as numeric(20,2)) from [WHQJTreasureDB].[dbo].[RecordInsure] a left join [WHQJAccountsDB].[dbo].[AccountsInfo] b on a.SourceUserID = b.UserID where 1 = 1 <if test="merchant != null and merchant != ''"> and b.Merchant = #{merchant,jdbcType=VARCHAR} </if> ) as totalInsureRevenue,
        (select cast(round(cast(ISNULL(SUM(a.Revenue),0) as float)/100,2) as numeric(20,2)) from [WHQJTreasureDB].[dbo].[RecordInsure] a left join [WHQJAccountsDB].[dbo].[AccountsInfo] b on a.SourceUserID = b.UserID where 1 = 1 and  a.CollectDate&gt;=#{todayStart,jdbcType=VARCHAR} AND a.CollectDate&lt;=#{todayEnd,jdbcType=VARCHAR} <if test="merchant != null and merchant != ''"> and b.Merchant = #{merchant,jdbcType=VARCHAR} </if> ) as todayInsureRevenue,

        (
          (select cast(round(cast(ISNULL(SUM(a.Revenue),0) as float)/100,2) as numeric(20,2)) from [WHQJTreasureDB].[dbo].[RecordDrawInfo] a left join [WHQJTreasureDB].[dbo].[RecordDrawScore] b on a.DrawID = b.DrawID left join [WHQJAccountsDB].[dbo].[AccountsInfo] c on c.UserID = b.UserID where 1 = 1 <if test="merchant != null and merchant != ''"> and c.Merchant = #{merchant,jdbcType=VARCHAR} </if> ) +
          (select cast(round(cast(ISNULL(SUM(a.Revenue),0) as float)/100,2) as numeric(20,2)) from [WHQJTreasureDB].[dbo].[RecordInsure] a left join [WHQJAccountsDB].[dbo].[AccountsInfo] b on a.SourceUserID = b.UserID where 1 = 1 <if test="merchant != null and merchant != ''"> and b.Merchant = #{merchant,jdbcType=VARCHAR} </if>)
        ) as totalAllRevenue,

        (select cast(round(cast(ISNULL(SUM(a.Waste),0) as float)/100,2) as numeric(20,2)) from [WHQJTreasureDB].[dbo].[RecordDrawInfo] a left join [WHQJTreasureDB].[dbo].[RecordDrawScore] b on a.DrawID = b.DrawID left join [WHQJAccountsDB].[dbo].[AccountsInfo] c on c.UserID = b.UserID where 1 = 1 <if test="merchant != null and merchant != ''"> and c.Merchant = #{merchant,jdbcType=VARCHAR} </if> ) as totalWaste,
        (select cast(round(cast(ISNULL(SUM(a.Waste),0) as float)/100,2) as numeric(20,2)) from [WHQJTreasureDB].[dbo].[RecordDrawInfo] a left join [WHQJTreasureDB].[dbo].[RecordDrawScore] b on a.DrawID = b.DrawID left join [WHQJAccountsDB].[dbo].[AccountsInfo] c on c.UserID = b.UserID where 1 = 1 and a.StartTime&gt;=#{todayStart,jdbcType=VARCHAR} AND a.StartTime&lt;=#{todayEnd,jdbcType=VARCHAR} <if test="merchant != null and merchant != ''"> and c.Merchant = #{merchant,jdbcType=VARCHAR} </if> ) as todayWaste,
        (select cast(round(cast(ISNULL(SUM(a.Waste),0) as float)/100,2) as numeric(20,2)) from [WHQJTreasureDB].[dbo].[RecordDrawInfo] a left join [WHQJTreasureDB].[dbo].[RecordDrawScore] b on a.DrawID = b.DrawID left join [WHQJAccountsDB].[dbo].[AccountsInfo] c on c.UserID = b.UserID where 1 = 1 and a.StartTime&gt;=#{yesterdayStart,jdbcType=VARCHAR} AND a.StartTime&lt;=#{yesterdayEnd,jdbcType=VARCHAR} <if test="merchant != null and merchant != ''"> and c.Merchant = #{merchant,jdbcType=VARCHAR} </if> ) as yesterdayWaste,

        (select COUNT(RecordID) from [WHQJPlatformDB].[dbo].[StreamCreateTableFeeInfo] a left join [WHQJAccountsDB].[dbo].[AccountsInfo] b on a.UserID = b.UserID where 1 = 1 <if test="merchant != null and merchant != ''"> and b.Merchant = #{merchant,jdbcType=VARCHAR} </if> AND a.PlayMode=0 AND a.RoomScoreInfo IS NOT NULL) as totalRoomCount,
        (select COUNT(RecordID) from [WHQJPlatformDB].[dbo].[StreamCreateTableFeeInfo] a left join [WHQJAccountsDB].[dbo].[AccountsInfo] b on a.UserID = b.UserID where 1 = 1 and a.CreateDate&gt;=#{todayStart,jdbcType=VARCHAR} AND a.CreateDate&lt;=#{todayEnd,jdbcType=VARCHAR} <if test="merchant != null and merchant != ''"> and b.Merchant = #{merchant,jdbcType=VARCHAR} </if> AND a.PlayMode=0 AND a.RoomScoreInfo IS NOT NULL) as todayRoomCount,
        (select COUNT(RecordID) from [WHQJPlatformDB].[dbo].[StreamCreateTableFeeInfo] a left join [WHQJAccountsDB].[dbo].[AccountsInfo] b on a.UserID = b.UserID where 1 = 1 and a.CreateDate&gt;=#{yesterdayStart,jdbcType=VARCHAR} AND a.CreateDate&lt;=#{yesterdayEnd,jdbcType=VARCHAR} <if test="merchant != null and merchant != ''"> and b.Merchant = #{merchant,jdbcType=VARCHAR} </if> AND a.PlayMode=0 AND a.RoomScoreInfo IS NOT NULL) as yesterdayRoomCount

    </select>




</mapper>