<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snake.mcf.sysmgr.mapper.account.AccountTaskMapper">


    <select id="loadGameRoomComboData" parameterType="map" resultType="com.snake.mcf.sysmgr.repertory.entity.dto.ComboBoxDTO">
        select a.KindID as id , a.KindName as text from [WHQJPlatformDB].[dbo].[MobileKindItem] a
        where 1 = 1 and a.Nullity = #{nullity,jdbcType=INTEGER} order by a.KindID asc
    </select>

    <select id="loadGameRoomInfoComboData" parameterType="map" resultType="com.snake.mcf.sysmgr.repertory.entity.dto.ComboBoxDTO">
        select a.ServerID as id , a.ServerName as text from [WHQJPlatformDB].[dbo].[GameRoomInfo] a
        where 1 = 1 and a.KindID = #{kindid,jdbcType=INTEGER} order by a.ServerID asc
    </select>


</mapper>