<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snake.mcf.sysmgr.repertory.mapper.AccountsInfoMapper">

    <select id="selectUserIdByNickName" parameterType="string"
            resultType="com.snake.mcf.sysmgr.repertory.entity.AccountsInfo">
        select UserId
        from [WHQJAccountsDB].[dbo].[AccountsInfo]
        where NickName = #{nickName}
    </select>

</mapper>