<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snake.mcf.sysmgr.mapper.goldmgr.GoldmgrInoutMapper">

    <select id="queryRecordUserInoutWithPage" parameterType="map" resultType="com.snake.mcf.sysmgr.repertory.entity.dto.RecorduserinoutDTO">
          select a.ID,a.UserID,a.KindID,a.ServerID,a.EnterTime,a.EnterScore,a.EnterGrade,a.EnterInsure,a.EnterMachine,a.EnterClientIP,a.LeaveTime,a.LeaveReason,a.LeaveMachine,a.LeaveClientIP,a.Score,a.Grade,a.Insure,a.Revenue,a.WinCount,a.LostCount,a.DrawCount,a.FleeCount,a.PlayTimeCount,a.OnLineTimeCount, b.NickName remitter, b.GameID remitterGameId,c.KindName,d.ServerName,
			(a.WinCount + a.LostCount+a.DrawCount+a.FleeCount) as allCount from [WHQJTreasureDB].[dbo].[RecordUserInout] a
			left join [WHQJAccountsDB].[dbo].[AccountsInfo] b on a.UserID = b.UserID
			left join [WHQJPlatformDB].[dbo].[MobileKindItem] c on c.KindID = a.KindID
			left join [WHQJPlatformDB].[dbo].[GameRoomInfo] d on d.ServerID = a.ServerID
			where 1 = 1 and b.isAndroid = 0

          /*开始日期*/
          <if test="entertimeStartStr != null and entertimeStartStr != ''">
                and a.EnterTime &gt;= #{entertimeStartStr,jdbcType=VARCHAR}
          </if>

          /*结束日期*/
          <if test="entertimeEndStr != null and entertimeEndStr != ''">
                and a.EnterTime &lt;= #{entertimeEndStr,jdbcType=VARCHAR}
          </if>

          /*gameID*/
          <if test="gameid != null and gameid != ''">
                and b.GameID = #{gameid,jdbcType=INTEGER}
          </if>

          <if test="userid != null and userid != ''">
                and a.UserID = #{userid}
          </if>

          <if test="kindname != null and kindname != ''">
                and a.KindID = #{kindname}
          </if>

          /*merchant*/
          <if test="merchant != null and merchant != ''">
                and b.Merchant =  #{merchant,jdbcType=VARCHAR}
          </if>

          order by a.EnterTime desc
    </select>



</mapper>